/* @import "tailwindcss"; */
/* @import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap'); */
@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #02191d;
  color: #ffffff;
}

/* main {
  width: 90%;
  margin: 0 auto;
} */
header {
  width: 320px;
  margin: 10px auto 0;
  height: 68px;
  padding: 12px 16px;
  border: 1px solid #197686;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.icon-container {
  width: 94.9px;
  display: flex;
  align-items: center;
  /* border: 1px solid; */
}

header .ticket-icon {
  padding-right: 8px;
}

.desktop-nav {
  display: none;
}

header button {
  width: 141px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
}

header .button a {
  text-decoration: none;
  font-size: 14px;
  color: #0a0c11;
}

header button a .arrow {
  vertical-align: 5%;
  margin-left: 0.2em;
}

main {
  /* width: 85.9%; */
  width: 335px;
  margin: 24px auto 0;
  padding: 24px;
  border: 1px solid #0e464f;
  border-radius: 32px;
}

.first-section {
  width: 287px;
  height: 243px;
  padding: 16px 24px;
  text-align: center;
  background: radial-gradient(103.64% 57.39% at 14.02% 32.06%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%);
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #07373F;
  /* border: 0px 2px 2px 2px solid #07373f; */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 24px;
}

.ticket_step-container {
display: flex;
justify-content: space-between;
}

.main-title {
  font-family: "JejuMyeongjo";
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.main-title + h3 {
  font-family: roboto, serif;
  font-size: 1em;
  margin-bottom: 0.75em;
}

.first-section .first {
margin-bottom: 2em;
}

.first-section .title {
  font-size: 2.8625em;
  font-family: "Road Rage", serif;
  margin-bottom: .2em;
}

.first-section .title + p {
  font-family: "Roboto", serif;
  font-size: 0.875em;
  line-height: 150%;
}

.first-section .second {
  font-size: 1em;
  font-family: "Roboto", serif;
}

.first-section .second p:first-child {
  margin-bottom: 0.25em;
}

.line {
  width: 100%;
  height: 0.25em;
  background-color: #07373F;
  border: none;

}

.first-section, .line, .second-section, .ticket-num-container {
  margin-bottom: 2em;
}

.second-section {
  width: 287px;
  padding: 1em;
  border: 1px solid #07373F;
  border-radius: 1.5em;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


.select-ticket-type {
  margin-bottom: .5em;
  font-family: "Roboto", serif;
  font-size: 1em;
}

.ticket-type{
  font-family: "Roboto", serif;
  width: 255px;
  height: 110px;
  padding: 0.75em 0.75em;
  border: 1px solid #197686;
  border-radius: 12px
}

.ticket-type:first-child, .ticket-type:nth-child(2) {
  margin-bottom: 1.5em
}

.ticket-type h2 {
  margin-bottom: 0.75em;
}

.ticket-num-container {
  display: flex;
  flex-direction: column;
}

.ticket-num-container label {
  font-family: "Roboto", serif;
  font-size: 1em;
  margin-bottom: .5em;

}

#ticket-num {
  width: 287px;
  height: 48px;
  padding: .75em;
  border-radius: .5em;
  border: 1px solid #07373F;
  color: #ffffff;
  background: rgba(255, 255, 255, 0)
}

#ticket-num option {
  background: lightgray;
  color: #000000;
}

.next-btn, .cancel-btn, .get-ticket-btn {
  display: block;
  width: 287px;
  height: 48px;
  font-size: 1em;
  padding: 12px 24px;
  border-radius: 0.75em;
}

.next-btn, .get-ticket-btn {
  color: #ffffff;
  background-color: #24A0B5;
  border: none;
  margin-bottom: 0.75em;
}

.cancel-btn {
  color: #24A0B5;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #24A0B5;
}


/* ************************************************* */
/* SECOND PAGE */
.second-page-first-section {
  width: 287px;
  height: 328px;
  padding: 24px;
  text-align: center;
  background: radial-gradient(103.64% 57.39% at 14.02% 32.06%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%);
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #07373F;
  /* border: 0px 2px 2px 2px solid #07373f; */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 24px;
}

.second-page-first-section {
  margin-bottom: 2em;
}

.second-page-first-section p {
  margin-bottom: 1em;
  text-align: left;
}


/* ***************************** */
/* form.jsx styles */
form {
  font-family: "Roboto", serif;
}

.avatar-container {
  height: 240px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0E464F;
  border: 4px solid #24A0B5;
  border-radius: 32px;
  position: relative;
  /* opacity: 100%; */
}

#avatar-input {
  width: 100%;
  display: none;
}

.avatar-el {
z-index: 1;
}

.uploaded-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
  border-radius: 32px;
}

.upload-icon {
  margin-bottom: 1em;
}

form input {
  height: 48px;
  border: 1px solid #07373F;
  border-radius: 0.75em;
  background-color: rgba(255,255,255,0);
  
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.input-container label {
  margin-bottom: .5em;
}

.input-container input {
  color: #ffffff;
  font-size: 1em;
  padding: .75em;
}

.input-container textarea {
  width: 100%;
  height: 7.9375em;
  padding: .75em;
  border-radius: .5em;
  border: 1px solid #07373F;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  resize: none;
}

.email-container {
  position: relative;
}

.email-container input {
  width: 100%;
  padding-left: 3.5em;
  font-size: 1em;
}

.email-container img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: inline;
}

/* ************************************************* */
/* THIRD PAGE */
.heading_para-container {
  text-align: center;
  font-family: "Roboto", serif;
}

.heading_para-container h2{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

.heading_para-container p {
  font-size: 1em;
  line-height: 1.5;
}

.ticket-frame-container {
  padding: 2em 0;
}

.ticket-wrapper {
  position: relative;
}

.ticket-frame {
  width: 100%;
}

.ticket-details {
  width: 240px;
  height:416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: .875em;
  border-radius: 1em;
  border: 1px solid #24A0B5;
}

.event-title-date {
width: 100%;
text-align: center;
}
.event-title-date h5 {
  font-size: 1.2em;
  font-family: "JejuMyeongjo";
}
.event-title-date p {
  font-size: .625em;
  line-height: 1.5;
  font-family: "Roboto", serif;
}

.user-img {
  width: 140px;
  height: 140px;
  border-radius: 0.75em;
  border: 4px solid #24A0B5;
}

.event-title-date, .user-img {
  margin-bottom: 1.25em;
}

.context {
  width: 100%;
  height: 160px;
  font-family: "Roboto", serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #24A0B5;
}

.context1 {
  white-space: wrap;
  line-height: .9em;
}

.context1, .context2 {
  width: 100%;
  height: 46px;
  font-size: .625em;
  display: flex;
}

.context-style {
  border: 1px solid #12464E;
  width: 50%;
  padding: 4px;
}

.context-style p:first-child {
  margin-bottom: .75em;
  color:#B3B3B3;
}

.context3 p:first-child {
  font-size: .625em;
  margin-bottom: .75em;
  padding: 4px;
  color:#B3B3B3;
}

.context-style p:last-child {
  font-weight: bold;
  /* text-overflow: ellipsis; */
}

.barcode {
  position: absolute;
  left: 5.3em;
  bottom: .5em;
}


/* ************************************************* */
/* DESKTOP VIEW */
@media (min-width: 800px) {
  header {
    width: 80%;
    /* margin: 10px auto 0; */
    height: 68px;
    padding: 12px 16px;
    border: 1px solid #197686;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
  }

  .desktop-nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .desktop-nav a {
    font-size: 1.125em;
    color: #B3B3B3;
    font-family: "JejuMyeongjo";
    text-decoration: none;
  }

  .desktop-nav .active {
    color: #ffffff;
  }

  main {
    /* width: 85.9%; */
    width: 700px;
    margin: 24px auto 0;
    padding: 24px;
    border: 1px solid #0e464f;
    border-radius: 32px;
  }

  

  .container {
    width: 604px;
    margin: 0 auto;
    border: 1px solid #0E464F;
    border-radius: 2em;
    padding: 1.5em
  }

  .first-section {
    width: 556px;
    height: 200px;
    padding: 16px 24px;
  
  }

  .second-section {
    width: 556px;
    display: flex;
    gap: 1.5em;
    border-radius: 1.5em;
    border: 1px solid #07373F;
  }

  .second-section:last-child {
    height: 110px;
  }

  .ticket-type {
    padding-right: .7em;
  }

  .ticket-type:first-child, .ticket-type:nth-child(2) {
    margin-bottom: 0;
}

  #ticket-num {
    width: 100%;
  }
  
  .option-btns {
    display: flex;
    justify-content:space-between;
  }

  .next-desktop, .get-ticket-btn, .cancel-btn {
    width: 270px;
    cursor: pointer;
  }


  /* SECOND PAGE STYLE */

  .second-page-first-section {
    width: 556px;
    height: 328px;
    padding: 16px 24px;
  }

  .image-frame {
    height: 200px;
    margin-top: 1.8em;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
  }

  .avatar-container {
    width: 240px;
    height: 240px;
    display: flex;
    top: -1.5em;
  }

  /* THIRD PAGE STYLE */
  .ticket-frame-container {
    width: 300px;
    margin: 0 auto;
  }

  .ticket-details {
    width: 260px;
    height:446px;
  }

  .event-title-date h5 {
    margin-bottom: .5em;
  }

  .event-title-date, .user-img {
    margin-bottom: 1.5em;
  }
  
}